<header></header>

<div class="container mt-4">
  <empleado-form (empleadoAgregado)="onEmpleadoAgregado($event)"></empleado-form>
  <empleado-table [empleados]="empleados" (eliminar)="onEmpleadoEliminado($event)"></empleado-table>
</div>

<div *ngIf="showSuccess" class="alert alert-success alert-dismissible fade show position-fixed top-0 end-0 m-3" role="alert">
  <i class="bi bi-check-circle me-2"></i> {{successMessage}}
  <button type="button" class="btn-close" (click)="showSuccess = false"></button>
</div>
